<div class="file-attachment-panel">
   <div class="file-attachment-container">
      <i class="icon file-type-icon $fileformat-icon"></i>
      <div class="file-attachment-content">
         <p class="file-name">$filename</p>
         <div class="file-meta-container">
            <small class="file-meta">
            $filesize
            </small>
         </div>
      </div>
   </div>
   <ul class="file-cta-container">
      <li class="download-cta"><a href="$filesrc" target="_blank" rel="noopener noreferrer">Download</a></li>
   </ul>
</div>
