<div class="file-attachment-panel">
    <div class="file-attachment-container">
        <i class="icon file-type-icon $fileformat-icon"></i>
        <div class="file-attachment-content">
            <p class="file-name">$filename</p>
            <div class="file-meta-container">
                <small class="file-meta">
                    $filesize
                </small>
            </div>
        </div>
    </div>
    <ul class="file-cta-container" onclick="window.open('$filesrc', '_blank');">
        <li class="download-cta">Download</li>
    </ul>
</div>
