{%- macro render_strong(text) -%}
<strong>{{ text }}</strong>
{%- endmacro -%}

{%- macro render_sup(text) -%}
<sup>{{ text }}</sup>
{%- endmacro -%}

{%- macro render_em(text) -%}
<em>{{ text }}</em>
{%- endmacro -%}

{%- macro render_code(text) -%}
<code>{{ text }}</code>
{%- endmacro -%}

{%- macro render_link(attrs, text) -%}
{%- set attr_s = handle_links(attrs) -%}
{%- if attr_s -%}
<a {{ attr_s}}>{{text }}</a>
{%- else -%}
<a> {{ text }}</a>
{%- endif -%}
{%- endmacro -%}

{%- for mark in node.marks -%}
  {%- if mark.type == "bold" -%}
    {{ render_strong(node.text)}}
  {%- elif mark.type == "sup" -%}
    {{ render_sup(node.text)}}
  {%- elif mark.type == "italic" -%}
    {{ render_em(node.text)}}
  {%- elif mark.type == "code" -%}
    {{ render_code(node.text)}}
  {%- elif mark.type == "link" -%}
    {{ render_link(mark.attrs, node.text)}}
  {%- elif mark == "" -%}
    {{ node.text }}
  {%- endif -%}
{%- else -%}
  {{ node.text }}
{%- endfor -%}
