{%- macro render_strong(text) -%}
<strong>{{ text }}</strong>
{%- endmacro -%}

{%- macro render_sup(text) -%}
<sup>{{ text }}</sup>
{%- endmacro -%}

{%- macro render_em(text) -%}
<em>{{ text }}</em>
{%- endmacro -%}

{%- macro render_code(text) -%}
<code>{{ text }}</code>
{%- endmacro -%}

{%- macro render_link(attrs, text) -%}
{%- set attr_s = handle_links(attrs) -%}
{%- if attr_s -%}
<a {{ attr_s}}>{{text }}</a>
{%- else -%}
<a> {{ text }}</a>
{%- endif -%}
{%- endmacro -%}

{%- set text_out = node.text -%}
{%- for mark in node.marks -%}
  {%- if mark.type == "bold" -%}
  {%- set text_out = render_strong(text_out) -%}
  {%- elif mark.type == "sup" -%}
  {%- set text_out = render_sup(text_out) -%}
  {%- elif mark.type == "italic" -%}
  {%- set text_out = render_em(text_out) -%}
  {%- elif mark.type == "code" -%}
  {%- set text_out = render_code(text_out) -%}
  {%- elif mark.type == "link" -%}
  {%- set text_out = render_link(mark.attrs, text_out) -%}
  {%- endif -%}
{{ text_out }}
{%- else -%}
{{ text_out }}
{%- endfor -%}
