{%- set caption = node.attrs.caption|trim|escape -%}
{%- set src = node.attrs.src|trim|escape -%}
{%- set size = node.attrs.size|trim|escape -%}
{%- set fname = node.attrs.name|trim|escape -%}
{%- set ext = node.attrs.format|trim|escape -%}
{%- if src and size and fname and ext -%}
  {%- set doc_block = get_doc_block(ext, fname, size, src) -%}
  <figure class="file-attachment">
  {%- if caption -%}
    {{doc_block}}<figcaption>{{caption}}</figcaption>
  {%- else -%}
    {{doc_block}}
  {%- endif -%}
  </figure>
{%- endif -%}
